.hero-foot {
  img.partner-logo {
    -webkit-filter: grayscale(1) opacity(0.9);
    filter: grayscale(1) opacity(0.9);
 
    &:hover {
      -webkit-filter: grayscale(0) opacity(1);
      filter: none;
    }
  }
}

.footer.footer-dark {
  .footer-column {
    .level-item .icon {
      color: $smoke-white;
      font-size: 1.5rem;
    }
  }
}

.testimonial {
  overflow: initial;
  .author {
    h5, span {
      left: 45%;
    }
    .company {
      opacity: 0.7;
    }
  }
}

.feature-card {
  width: 100%;
  height: 340px;
  padding-bottom: 15px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.feature-card {
  .card-text {
    margin-top: 20px;
  }
}

.section.section2 {
  .media-left {
    margin-right: 1.5rem;
    margin-bottom: 3.5rem;
    .image > img {
      width: 110px;
      height: 110px;
    }
  }
  .media-content {
    margin-top: 15px;
  }
}

// #################################################################################
// Responsiveness

@include mobile {
  .section.section2 {
    .media-left {
      margin-right: 1rem;
      .image > img {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@include mobile {
  .feature-card {
    height: 300px;
    .card-text {
      margin-top: 10px;
    }
    .card-icon img {
      height: 80px;
    }
  }
}
