footer.footer-dark {
  .footer-column {
    .level-item .icon {
      color: $smoke-white;
    }
  }
}

.testimonial {
  overflow: initial;
  .author {
    h5, span {
      left: 45%;
    }
    .company {
      opacity: 0.7;
    }
  }
}
