{{- $hero        := .Site.Params.hero }}
{{- $clientLogos := index $hero "clientlogos" }}
<div class="hero-foot mb-20">
  <div class="container">
    <div class="tabs swiper-container">
      <!-- <ul class="clients-logos-swiper"> -->
      <ul class="swiper-wrapper">
        {{- range $clientLogos }}
        <li class="swiper-slide">
          <a>
            <img class="partner-logo" src="{{ printf "/images/logos/clients/%s.png" . | relURL }}">
          </a>
        </li>
        {{- end }}
      </ul>
      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>
</div>